* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

@font-face {
  font-family: HelveticaNeueCyr-Roman;
  src: local("HelveticaNeueCyr-Roman"),
    url("./assets/fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNeueCyr-Roman.woff") format("woff");
}
@font-face {
  font-family: HelveticaNeueCyr-Bold;
  src: local("HelveticaNeueCyr-Bold"),
    url("./assets/fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNeueCyr-Bold.woff") format("woff");
}

body > header > section,
body > main > section > *,
body > footer > * {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 2rem;
}

body {
  font-family: HelveticaNeueCyr-Roman, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}
/* header*********************************************************************************** */
body > header {
  position: sticky;
  top: 0;
  z-index: 20;
  background: #fff;
}
body > header > section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  min-height: 82px;
  box-sizing: padding-box;
}
body > header > section > * {
  padding: 0.5rem;
}
body > header > section#hideOnScroll > img {
  margin-right: auto;
}
body > header > section#showOnScroll > p {
  margin: 0;
  margin-left: 3.4rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.75px;
  color: #333333;
}
#hideOnScroll {
  display: none;
}
#showOnScroll .enter-btn {
  margin-left: auto;
}
.enter-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  color: #9a99a2;
  margin-left: 3.6rem;
  transition: 0.2s;
}
.enter-btn:hover {
  color: #000000;
  text-decoration: none;
}
.enter-btn:active {
  font-weight: 600;
}
.ru-btn,
.en-btn {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: 0.2s;
  border: 2px solid transparent;
}
.ru-btn:hover,
.en-btn:hover {
  background: #4889f1;
  color: #fff;
}
.ru-btn:active,
.en-btn:active {
  background: #3667b6;
  border: 2px solid #3667b6 !important;
}
.ru-btn.active,
.en-btn.active {
  border: 2px solid #4889f1;
}

#showOnScroll > .try-free-btn {
  margin-left: 3.6rem;
}
@media (max-width: 950px) {
  body > header > section {
    min-height: 74px;
  }
  body > header > section img {
    width: 49px;
  }
  body > header > section#showOnScroll > p {
    display: none;
  }
  body > header .try-free-btn {
    font-size: 1rem;
    padding: 0.6rem 0.9rem;
    height: 3rem;
  }
  #showOnScroll > .try-free-btn {
    margin-left: 1.6rem;
  }
  #hideOnScroll .enter-btn {
    margin-left: 2.1rem;
  }
}

/* main-section******************************************************* */
section.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: url("./assets/bg.svg") no-repeat right top,
    linear-gradient(#f2f2f2 0%, #f2f2f2 60%, #fff 60%, #fff 100%);
}
section.main > header > h1,
section.main > header > p {
  width: 466px;
}
h1 {
  font-family: HelveticaNeueCyr-Bold, sans-serif;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4.8rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #333333;
  margin-top: 11.4rem;
}
section.main > header > p {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.75px;
  color: #9a99a2;
  width: 361px;
  margin-top: 14px;
}

@media (max-width: 1200px) {
  section.main {
    background: url("./assets/bg.svg") no-repeat right 12rem,
      linear-gradient(#f2f2f2 0%, #f2f2f2 60%, #fff 60%, #fff 100%);
    background-size: 80%;
  }
  h1 {
    margin-top: 5.5rem;
    font-size: 2rem;
    line-height: 2.8rem;
  }
  section.main > header > p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 24px;
    width: auto;
  }
}

/* section.main > .my-slider******************************************************************* */

.slider-container {
  max-width: 1200px;
  margin: 8.1rem auto 0 auto;
  padding: 0 0 30px;
  overflow: hidden;
  position: relative;
}

img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.my-slider {
  position: relative;
}

.slider-item {
  background: white;
  padding: 0;
  position: relative;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.2);
}

.slider-item:hover {
  cursor: pointer;
}

/* .controls {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.controls:focus {
  outline: none;
}

.controls li:hover {
  cursor: pointer;
} */

.card {
  text-align: center;
  margin: 0 auto;
  max-width: 200px;
  color: #333;
  background: white;
  border-radius: 5px;
  padding-bottom: 0.75rem;
  font-family: sans-serif;
  overflow: hidden;
  box-shadow: 2px 2px rgba(black, 0.3);
  position: relative;
}

.card img {
  margin-bottom: 0.25rem;
}

.card h2 {
  margin: 0 0 0.25rem;
}

.card p {
  margin: 0;
  padding: 0 0.5rem;
}

.tns-nav {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 100;
}
.tns-nav > button {
  outline: none;
  border: none;
  margin: 0 8px;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  padding: 0;
  background: rgba(72, 137, 241, 0.44);
}

.tns-nav > button.tns-nav-active {
  background: #4889f1;
}

.tns-outer .tns-controls button {
  position: absolute;
  z-index: 10;
  border: none;
  height: 100%;
  width: 6%;
  padding: 0 0 3rem;
  opacity: 0;
  transition: 0.2s;
}
.tns-outer:hover .tns-controls button {
  opacity: 1;
}
.tns-controls button:first-of-type {
  background: content-box linear-gradient(to left, #4889f100, #4889f155);
}
.tns-controls button:last-of-type {
  right: 0;
  background: content-box linear-gradient(to right, #4889f100, #4889f155);
}
.tns-controls button::after {
  content: "";
  display: block;
  position: absolute;
  border-right: 4px solid #4889f1;
  border-bottom: 4px solid #4889f1;
  height: 16px;
  width: 16px;
  top: calc(50% - 2rem);
  transition: 0.2s;
}
.tns-controls button:hover::after {
  border-right: 4px solid #213f6d;
  border-bottom: 4px solid #213f6d;
}
.tns-controls button:first-of-type::after {
  left: 20%;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.tns-controls button:last-of-type::after {
  right: 20%;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* advantages******************************************************************************* */
.advantages header {
  padding: 9.5rem 10% 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.advantages header h2 {
  font-size: 2.8rem;
  letter-spacing: 0.75px;
  margin-top: 0;
  margin-bottom: 8.5rem;
  text-align: center;
}
.advantages header p {
  font-size: 1.8rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #9a99a2;
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 4.5rem;
  grid-column-gap: 5rem;
  padding-bottom: 8.5rem;
}
.advantages-list > li {
  list-style: none;
}
.advantages-list > li > h3 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.6rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #333333;
}
.advantages-list > li > p {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.75px;
  color: #9a99a2;
}

.advantages.second {
  background: #f2f2f2;
}

@media (max-width: 1023px) {
  .advantages > header {
    padding: 4.7rem 2rem;
  }
  .advantages header h2 {
    font-size: 1.8rem;
    margin: 0;
  }
  .advantages header p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  .advantages-list {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    padding-bottom: 55px;
  }
  .advantages-list > li > h3 {
    font-size: 1.4rem;
  }
}

/* footer****************************************************************************** */
footer {
  background: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}
footer .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 4.5rem 0 1rem;
}
footer .header > h2 {
  font-family: HelveticaNeueCyr-Bold, sans-serif;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 4.8rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

footer section.contacts {
  width: 600px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: 0.05rem;
  margin: 5.6rem 0 4rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  height: 120px;
}
footer section.contacts > p {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 200px;
  font-size: 1.4rem;
}
footer section.contacts > p > svg {
  margin-right: 3rem;
}
footer section.contacts > p > a {
  color: #fff;
  text-decoration: none;
}
footer section.contacts > .socials > a:not(:last-of-type) {
  margin-right: 2rem;
}
footer section.copyright {
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: 0.05rem;
  margin-bottom: 4rem;
}
footer .contacts svg {
  transition: 0.2s;
}
footer .contacts a:hover svg {
  fill: #4889f1;
}
a:hover + svg {
  fill: #4889f1;
  stroke: #4889f1;
}

@media (max-width: 700px) {
  footer .header {
    margin: 4.5rem 0 2.1rem;
  }
  footer .header > h2 {
    font-size: 1.4rem;
    line-height: 2.8rem;
  }
  footer section.contacts {
    width: auto;
    height: auto;
    margin: 5rem 0 4rem;
  }
  footer section.contacts p:last-of-type {
    margin-top: 30px;
  }

  footer section.contacts .socials {
    margin-top: 2.2rem;
  }
  footer section.contacts .socials svg {
    width: 27px;
    margin-bottom: 1.6rem;
  }
}

/* try-free-btn******************************************************************* */
.try-free-btn {
  border: 2px solid #4889f1;
  border-radius: 2.1rem;
  white-space: nowrap;
  font: normal 600 1.8rem/1.6rem HelveticaNeueCyr-Roman;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4889f1;
  padding: 1.3rem 1.6rem;
  height: 3.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  transition: 0.2s;
}
.try-free-btn:hover {
  background: #4889f1;
  color: #fff;
}
.try-free-btn:active {
  background: #3667b6;
  border-color: #3667b6;
}
@media (max-width: 700px) {
  .try-free-btn {
    font: normal 600 1.4rem/1.6rem HelveticaNeueCyr-Roman;
  }
}
