* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

/* @media (max-width: 630px) {
  html {
    font-size: 8px;
  }
} */

@font-face {
  font-family: HelveticaNeueCyr;
  src: local("HelveticaNeueCyr-Roman"),
    url("./assets/fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body > header > section,
body > main > section > *,
body > footer > * {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 2rem;
}

body {
  font-family: HelveticaNeueCyr, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}
/* header*********************************************************************************** */
body > header {
  position: sticky;
  top: 0;
  z-index: 20;
  background: #fff;
}
body > header > section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  min-height: 82px;
}
body > header > section > * {
  padding: 0.5rem;
}
body > header > section#hideOnScroll > img {
  margin-right: auto;
}
body > header > section#showOnScroll > p {
  margin-left: 3.4rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.75px;
  color: #333333;
}
#hideOnScroll {
  display: none;
}
#showOnScroll {
  height: 82px;
}
#showOnScroll .enter-btn {
  margin-left: auto;
}
.enter-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  color: #9a99a2;
  margin-left: 3.6rem;
}
.ru-btn,
.en-btn {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.ru-btn.active,
.en-btn.active {
  border: 2px solid #4889f1;
}

#showOnScroll > .try-free-btn {
  margin-left: 3.6rem;
}
@media (max-width: 1200px) {
  body > header > section#showOnScroll > p {
    display: none;
  }
}

/* main-section******************************************************* */
section.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: url("./assets/bg.svg") no-repeat right top,
    linear-gradient(#f2f2f2 0%, #f2f2f2 60%, #fff 60%, #fff 100%);
}
section.main > header > h1,
section.main > header > p {
  width: 466px;
}
h1 {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4.8rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #333333;
  margin-top: 11.4rem;
}
section.main > header > p {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.75px;
  color: #9a99a2;
  width: 361px;
  margin-top: 14px;
}
section.main > .slider {
  width: 100%;
  margin: 8.1rem auto 2rem;
}
section.main > .slider > img {
  width: 100%;
}
.slider {
  box-shadow: 0px 1px 3rem rgba(0, 0, 0, 0.2);
}
.slider::before {
  content: "";
  position: absolute;
  background: #4889f1;
  height: 2px;
  width: 7%;
  left: -7%;
  top: 80%;
  border-radius: 2px;
}
.slider::after {
  content: "";
  position: absolute;
  background: #4889f1;
  height: 2px;
  width: 7%;
  right: -7%;
  top: 80%;
  border-radius: 2px;
}

@media (max-width: 1200px) {
  section.main {
    background: url("./assets/bg.svg") no-repeat right 25rem,
      linear-gradient(#f2f2f2 0%, #f2f2f2 60%, #fff 60%, #fff 100%);
    background-size: 80%;
  }
  h1 {
    margin-top: 5.5rem;
    font-size: 2rem;
    line-height: 2.8rem;
  }
  section.main > header > p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 24px;
    width: auto;
  }
  section.main > .slider {
    margin-top: 51px;
  }
}

/* advantages******************************************************************************* */
.advantages header {
  padding: 9.5rem 10% 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.advantages header h2 {
  font-size: 2.8rem;
  letter-spacing: 0.75px;
  margin-top: 0;
  margin-bottom: 8.5rem;
  text-align: center;
}
.advantages header p {
  font-size: 1.8rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #9a99a2;
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 4.5rem;
  grid-column-gap: 5rem;
  padding-bottom: 8.5rem;
}
.advantages-list > li {
  list-style: none;
}
.advantages-list > li > h3 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.6rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #333333;
}
.advantages-list > li > p {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.75px;
  color: #9a99a2;
}

.advantages.second {
  background: #f2f2f2;
}

@media (max-width: 1023px) {
  .advantages > header {
    padding: 4.7rem 2rem;
  }
  .advantages header h2 {
    font-size: 1.8rem;
    margin: 0;
  }
  .advantages header p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  .advantages-list {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    padding-bottom: 55px;
  }
  .advantages-list > li > h3 {
    font-size: 1.4rem;
  }
}

/* footer****************************************************************************** */
footer {
  background: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}
footer header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 3.8rem 0 1rem;
}
footer header > h2 {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 4.8rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
}

footer section.contacts {
  width: 600px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: 0.05rem;
  margin: 7rem 0 4rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  height: 100px;
}
footer section.contacts > p {
  display: flex;
  align-items: center;
  width: 200px;
}
footer section.contacts > p > svg {
  margin-right: 3rem;
}
footer section.contacts > p > a {
  color: #fff;
  text-decoration: none;
}
footer section.contacts > .socials > a:not(:last-of-type) {
  margin-right: 2rem;
}
footer section.copyright {
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: 0.05rem;
  margin-bottom: 4rem;
}
footer .socials svg:hover {
  stroke: #4889f1;
}

.try-free-btn {
  border: 2px solid #4889f1;
  border-radius: 2.1rem;
  white-space: nowrap;
  font: normal 600 1.8rem/1.6rem Segoe UI;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4889f1;
  padding: 1.3rem 1.6rem;
  height: 3.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
}
@media (max-width: 700px) {
  .try-free-btn {
    font: normal 600 1.4rem/1.6rem Segoe UI;
  }
}
@media (max-width: 700px) {
  footer section.contacts {
    width: auto;
    height: auto;
  }
  footer section.contacts p:last-of-type {
    margin-top: 30px;
  }

  footer section.contacts .socials {
    margin-top: 2.2rem;
  }
  footer section.contacts .socials svg {
    width: 27px;
    margin-bottom: 1.6rem;
  }
}

/* slider******************************************************************* */
.slider {
  position: relative;
}
.slider:hover .btnLeft,
.slider:hover .btnRight {
  border-right-color: #000;
  border-left-color: #000;
}
.slider .btnLeft {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  opacity: 0.3;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.slider .btnLeft:before {
  content: "";
  position: absolute;
  background: rgba(200, 200, 200, 0.4);
  height: 50px;
  width: 50px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin-left: -15px;
  margin-top: -25px;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.slider .btnLeft:hover {
  opacity: 1;
  cursor: pointer;
}

.slider .btnLeft:hover:before {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}

.slider .btnRight {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  opacity: 0.5;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.slider .btnRight:before {
  content: "";
  position: absolute;
  background: rgba(200, 200, 200, 0.4);
  height: 50px;
  width: 50px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin-left: -35px;
  margin-top: -25px;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.slider .btnRight:hover {
  opacity: 1;
  cursor: pointer;
}

.slider .btnRight:hover:before {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}
